<h2>Packing List for <%= @trip.name %> </h2>

<%= link_to 'Add New Item', new_trip_pack_item_path(@trip) %> |
<%= link_to 'Location View', trip_locations_path(@trip) %>

<div class='row'>
	<div class='col s12 m6'>
		<h4>Still to Pack</h4>
		<ul>
			<% @locations.each do |location| %>
			<li> <h5> <%= location %> </h5>
				<ul>
					<% PackItem.filter_items(location).each do |item| %>
					<li> 
						<%= link_to item.name, edit_trip_pack_item_path(@trip, item) %> - <%= item.notes %>
						<%= link_to 'Delete Item', trip_pack_item_path(@trip, item), method: :delete %>
					</li>
					<% end %>
				</ul>
			</li>
			<% end %>
		</ul>
	</div>

	<div class='col s12 m6'>
		<h4>Packed!</h4>
		<ul>
			<% @locations.each do |location| %>
			<li> <h5> <%= location %> </h5>
				<ul>
					<% PackItem.filter_packed_items(location).each do |item| %>
					<li> 
						<%= link_to item.name, edit_trip_pack_item_path(@trip, item) %> - <%= item.notes %>
						<%= link_to 'Delete Item', trip_pack_item_path(@trip, item), method: :delete %>
						 
					</li>
					<% end %>
				</ul>
			</li>
			<% end %>
		</ul>
	</div>
</div>

<div class='row'>
	<h4>Recommended</h4>
	<ul>
		<% PackItem.by_is_like(@trip).each do |type| %>
			<li> 
				<h5> <%= type %> </h5>
				<ul>
				<% PackItem.pack_recs[type.downcase.gsub(/\s+/, "").to_sym].each do |item| %>
					<li> <%= item %> </li>
				<% end %>
				</ul>
			</li>
		<% end %>
	</ul>
</div>