<h1><%= @location.where %></h1>
<br />
<p>Street: <%= @address.street %></p>
<br />
<p>City: <%= @address.city%></p>
<br />
<p>State <%= @address.state%></p>
<br />
<p>Country: <%= @address.country%></p>
<br />
<p>Zipcode: <%= @address.zip%></p>
