<h1><%= @car.info %></h1>
<br />
<p>Street: <%= @address.street %></p>
<br />
<p>City: <%= @address.city%></p>
<br />
<p>State <%= @adress.state%></p>
<br />
<p>Country: <%= @address.country%></p>
<br />
<p>Zipcode: <%= @address.zipcode%></p>
