<h1>Address for <%= @location.where %></h1>
<br />
<p>Street: <%= @address.street %></p>
<br />
<p>City: <%= @address.city%></p>
<br />
<p>State <%= @address.state%></p>
<br />
<p>Country: <%= @address.country%></p>
<br />
<p>Zipcode: <%= @address.zip%></p>

<%= link_to 'Back to Location', trip_location_path(@location.trip_id, @location) %>
