<% if @location.errors.any? %>
	<ul>
		<% @location.errors.full_messages.each do |error| %>
		<li> <%= error %> </li>
	<% end %>
	</ul>
<% end %>

<div class='row'>
	<%= form_for [@trip, @location] do |f| %>
		<div class='row'>
			<%= f.label :where %>
			<%= f.text_field :where, require: true %>
		</div>
		<div class='row'>
			<%= f.label :is_like, class: 'active' %>
			<%= f.select :is_like, Location.is_like_options, {include_blank: 'What is the location like?'} %>
		</div>
		<div class='row'>
			<%= f.label :days, class: 'active' %>
			<%= f.number_field :days %>
		</div>
		<div class='row'>
			<%= f.label :notes %>
			<%= f.text_area :notes, class: "materialize-textarea" %>
		</div>
		<div class='row'>
			<%= f.label :image, class: 'active', class: 'btn' %>
			<span style='display:none'> <%= f.file_field :image, class: 'btn' %> </span>
		</div>
		<div class='row'>
			<%= f.submit 'Submit', class: 'btn' %>
		</div>
	<% end %>
</div>

<script async>
	$(document).ready(function() {
  		$('select').material_select();
	});
</script>