<h1> <%= @trip %> Destinations</h1>
<p> <%= link_to 'Add New Location' new_trip_location_path(@trip) %> </p>

<% if @locations.empty? %>
	<p> You haven't added any locations to this trip. </p>
<% else %>
	<ul>
		<% for @locations.each do |location| %>
		<li>
			<%= link_to "#{location.where}", trip_location_path(@trip, location) %> <br>
			<%= button_to 'Add Address' new_location_address_path(location), method: :get %>
			<%= button_to 'Delete Location', trip_location_path(@trip, location), method: :delete %>
		</li>
	</ul>


