<h1> <%= @location.where %> Details</h1>

<p> Destination Type: <%= @location.is_like %> </p>
<p> Days at Location: <%= @location.days %> </p>
<p> Notes: <%= @location.notes %> </p>

<%= button_to 'Edit Location Details', edit_trip_location_path(@trip, @location), method: :get %> <%= button_to 'Delete Location', trip_location_path(@trip, @location), method: :delete %>
