<!DOCTYPE html>
<html>
  <head>
    <title>Triptracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,900|Pacifico|Poiret+One" rel="stylesheet">
  </head>

  <body class="container">
    <header>
      <h1 class="logo">TRIPPIN</h1>
      <div class="navbar">
        <%=link_to 'Home', root_path%> | <%=link_to 'My Trips', trips_path%> | <%=link_to "I've Visited" %>
      </div>
    </header>
    <div class="clear">
      <hr />
    <%= yield %>
    </div>
  </body>
</html>
